<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874530599312-c6bb2svbjrl2up0b8qt8f0k8t127vnpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874530599312-c6bb2svbjrl2up0b8qt8f0k8t127vnpu</string>
	<key>API_KEY</key>
	<string>AIzaSyAF7VnjB3H2U4Y4EoLTlbFcmz1QYgGsJSY</string>
	<key>GCM_SENDER_ID</key>
	<string>874530599312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eclidse.ChatAppSwfitUi</string>
	<key>PROJECT_ID</key>
	<string>chatappswiftui-d6f6e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappswiftui-d6f6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874530599312:ios:7a17db8ff6b3259248c315</string>
</dict>
</plist>